body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #14191e;

}

.App {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 5px 50px;
}

.not-found-text {
  font-size: 42px;
  text-align: center;
  color: silver;
  padding-top: 70px;
}
