update_servers_status/config.py
update_servers_status/__pycache__
update_servers_status/.idea

api/config.py
api/__pycache__
api/.idea
api/database/__pycache__
api/gunicorn_conf.py
api/venv
api/logs



client/node_modules
client/.pnp
client/.pnp.js


client/coverage


client/build


client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.idea
