@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@1,700&display=swap');


.list-top-block {
    margin: auto;
    grid-template-columns: repeat(auto-fill,minmax(25.5rem, 1fr));
    display: grid;
    grid-gap: 1rem!important;
    gap: 1rem!important;
    height: 100%!important;
    overflow: visible;
    overflow: initial;
    align-content: flex-start!important;
    padding-bottom: 20px;
}


.body-top {
    transition: .3s;
    border-radius: 12px;
    height: 280px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.block-border-top {
    background: linear-gradient(60deg, #779cea, #4680fe, #234bec);
    background-size: 300% 300%;
    background-position: 0 50%;
}

.block-border-top {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px!important;
}

.block-background-top {
    transition: .2s;
    position: absolute!important;
    background: #1f282f;
    top: 2px!important;
    left: 2px!important;
    width: calc(100% - 4px)!important;
    height: calc(100% - 4px)!important;
    border-radius: 12px;
    overflow: hidden;
}
.body-top:hover .block-background-top {
    background: #27303a;
    transition: .6s;
}

.top-label-block {
    position: absolute!important;
    top: 2px!important;
    left: 2px!important;
    width: calc(100% - 4px)!important;
    height: calc(100% - 4px)!important;
    z-index: 20;
}

.top-label-title {
    font-family: 'Tinos', serif;
    user-select: none;
    display: flex;
    color: #efca51;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.top-users-list-block {
    color: #f3f2f2;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    border-top: #8880dc 1px solid;
}

.top-users-list-block-title {
    font-family: 'Tinos', serif;
    user-select: none;
    color: #6060ff;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 40px;
}

.top-users-list-block a {
    text-decoration: none;
    color: #f3f2f2;
}

.top-users-list-block:hover {
    background-color: #2f3854;
}