@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');


.list-top-block {
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 0.8rem!important;
    gap: 0.8rem!important;
    height: 100%!important;
    overflow: visible;
    overflow: initial;
    align-content: flex-start!important;
    padding-bottom: 20px;
}

@media (max-width: 1150px) {
    .list-top-block {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 750px) {
    .list-top-block {
        grid-template-columns: 1fr;
    }
}


.body-top {
    transition: .3s;
    border-radius: 12px;
    height: 272px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.block-border-top {
    background-size: 300% 300%;
    background-position: 0 50%;
}

.block-border-gold {
    background: linear-gradient(60deg, #fff0be, #FFD700, #d5b209);
}

.block-border-silver {
    background: linear-gradient(60deg, #e5e5e5, #c0c0c0, #757575);
}

.block-border-bronze {
    background: linear-gradient(60deg, #ffbd87, #cd7f32, #de4b00);
}

.block-border-top {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px!important;
}

.block-background-top {
    transition: .2s;
    position: absolute!important;
    background: #1f282f;
    top: 2px!important;
    left: 2px!important;
    width: calc(100% - 4px)!important;
    height: calc(100% - 4px)!important;
    border-radius: 12px;
    overflow: hidden;
}
.body-top:hover .block-background-top {
    background: #27303a;
    transition: .6s;
}

.top-label-block {
    position: absolute!important;
    top: 2px!important;
    left: 2px!important;
    width: calc(100% - 4px)!important;
    height: calc(100% - 4px)!important;
    z-index: 20;
}

.top-label-title {
    font-family: 'Tapestry', cursive;
    user-select: none;
    display: flex;
    color: #efca51;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.top-users-list-block {
    color: #f3f2f2;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    border-top: #8880dc 1px solid;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.top-users-list-block-title {
    font-family: 'Tapestry', cursive;
    user-select: none;
    color: #a4c1ff;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 40px;
}

.top-label-block a {
    text-decoration: none;
    color: #f3f2f2;
}

.top-users-list-block:hover {
    transition: .2s;
    background-color: #1c262c;
}

.top-color-0{
    background-color: rgba(255, 215, 0, 0.6);
}

.top-color-1{
    background-color: rgba(192, 192, 192, 0.6);
}

.top-color-2{
    background-color: rgba(205, 127, 50, 0.6);
}

.top-color-0:hover {
    background-color: #FFD700;
    color: #a6a6a6;
    transition: .2s;
}

.top-color-1:hover {
    background-color: #c0c0c0;
    color: #8c8c8c;
    transition: .2s;
}

.top-color-2:hover {
    background-color: #cd7f32;
    color: #dadada;
    transition: .2s;
}

.title-gold {
    color: #FFD700;
}

.title-silver {
    color: #c0c0c0;
}

.title-bronze {
    color: #cd7f32;
}
