.list-server-block {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 0.8rem!important;
    gap: 0.8rem!important;
    height: 100%!important;
    overflow: visible;
    overflow: initial;
    align-content: flex-start!important;
    padding-bottom: 20px;
}

@media (max-width: 1150px) {
    .list-server-block {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 750px) {
    .list-server-block {
        grid-template-columns: 1fr;
    }
}