.list-server-block {
    grid-template-columns: repeat(auto-fill,minmax(25.5rem,1fr));
    display: grid;
    grid-gap: 0.8rem!important;
    gap: 0.8rem!important;
    height: 100%!important;
    overflow: visible;
    overflow: initial;
    align-content: flex-start!important;
    padding-bottom: 20px;
}
