.body-board {
    transition: .3s;
    border-radius: 12px;
    height: 605px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    padding-top: 15px;
}

.body-board a {
    text-decoration: none;
}

.block-user-board {
    color: #f3f2f2;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    user-select: none;
    height: 24px;
}

.b-s-title {
    color: #6ed2fe;
    margin-left: 22px;
    position: relative;
}

.b-s-color-0 {
    position: relative;
    background: #263549;
    margin: 0 4px;
    transition: .2s;
}

.b-s-color-1 {
    position: relative;
    background: #474c5d;
    margin: 0 4px;
    transition: .2s;
}

.b-s-color-0:hover {
    background: rgb(121, 121, 126);
    transition: .2s;
}

.b-s-color-1:hover {
    background: rgb(121, 121, 126);
    transition: .2s;
}

.block-user-board-name {
    z-index: 15;
}

.block-user-board-stats {
    z-index: 15;
    position: relative;
}

.b-s-skill {
    position: absolute;
    top: 0;
    left: calc(100% - 60px)!important;
}

.b-s-kills {
    position: absolute;
    top: 0;
    left: calc(100% - 510px)!important;
}

.b-s-deaths {
    position: absolute;
    top: 0;
    left: calc(100% - 420px)!important;
}

.b-s-kd {
    position: absolute;
    top: 0;
    left: calc(100% - 150px)!important;

}

.b-s-hs {
    position: absolute;
    top: 0;
    left: calc(100% - 240px)!important;
}

.b-s-accuracy {
    position: absolute;
    top: 0;
    left: calc(100% - 600px)!important;

}

.b-s-dmg {
    position: absolute;
    top: 0;
    left: calc(100% - 690px)!important;

}

.b-s-assist {
    position: absolute;
    top: 0;
    left: calc(100% - 330px)!important;
}



@media (max-width: 1080px) {
    .b-s-dmg {
        visibility: hidden;
    }
}

@media (max-width: 990px) {
    .b-s-accuracy {
        visibility: hidden;
    }
}

@media (max-width: 900px) {
    .b-s-kills {
        visibility: hidden;
    }
}

@media (max-width: 810px) {
    .b-s-deaths {
        visibility: hidden;
    }
}

@media (max-width: 720px) {
    .b-s-assist {
        visibility: hidden;
    }
}

@media (max-width: 630px) {
    .b-s-hs {
        visibility: hidden;
    }
}

@media (max-width: 540px) {
    .b-s-kd {
        visibility: hidden;
    }
}

.b-s-pagination-block {
    position: absolute;
    z-index: 15;
    color: silver;
    bottom: 1px;
    left:50%;
    transform:translate(-50%);
    user-select: none;

}

.paginationButtons {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;

}

.paginationButtons li {
    float: left;
    height: 26px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: #215170 1px solid;
    padding-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.paginationButtons a {
    float: left;
    height: 30px;
    width: 30px;
}

.paginationButtons li:hover {
    background: #474c5d;
}

.b-s-active {
    background: #184a69;
}

.b-s-select {
    cursor: pointer;
}